<div class="site-header">
  <div class="wrapper">
    <app-logo></app-logo>

    <nav class="secondary-nav">

      <app-language-selector></app-language-selector>

      <button class="btn-symbol" (click)="onCartOpen()">
        <span class="symbol rounded">shopping_bag</span>

        <ng-container *ngIf="cart?.totalItems">
          <span class="total-items">{{ cart?.totalItems }}</span>
        </ng-container>
      </button>

      <button class="btn-symbol" (click)="onMainNavigationPanelToggle()" >
        <span class="symbol rounded">{{ mainNavigationPanelActive ? "close" : "menu" }}</span>
      </button>

    </nav>
  </div>
</div>

<aside class="main-navigation-panel" [class.active]="mainNavigationPanelActive">
  <div class="wrapper">

    <app-logo [logoMode]="mode.light"></app-logo>

    <div class="nav">

      <li><a [routerLink]="['/', currentLang]">Home</a></li>

    <div class="col">
      <div class="title">Products</div>
      <ul>
        <li><a routerLinkActive="active" (click)="navigateAfterCloseSidebar(['/', currentLang, 'product', 'test-product'])">Natural Toothbrush</a></li>
        <li>Tooth Paste</li>
        <li>Mouthwash</li>
        <li><a [routerLink]="['/', currentLang, 'products']">All products</a></li>
      </ul>
    </div>

    <div class="col">
      <div class="title">About</div>
      <ul>
        <li>Our story</li>
        <li>Foundation</li>
        <li>Privacy policy</li>
      </ul>
    </div>

    <div class="col">
      <div class="title">Order and support</div>
      <ul>
        <li>FAQs</li>
        <li>Contact us</li>
        <li>Delivery and returns</li>
        <li>Terms and conditions</li>
      </ul>
    </div>

  </div>

  </div>
</aside>

<app-cart [currentLang]="currentLang"></app-cart>