.site-header {
  font-weight: var(--font-medium);
}

.site-header > .wrapper {
  max-width: var(--max-w-full);
  margin: 0 auto;
  padding: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.site-header .primary-nav ul,
.site-header .secondary-nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

