<app-cart [cartActive]="cartActive"></app-cart>

<div class="site-header">
  <div class="wrapper">
    <app-logo></app-logo>

    <nav class="secondary-nav">

      <button class="btn-symbol" (click)="onCartToggle()">
        <span class="symbol rounded">{{ cartActive ? "close" : "shopping_bag" }}</span>

        <ng-container *ngIf="cart?.totalItems">
          <span class="total-items">{{ cart?.totalItems }}</span>
        </ng-container>
      </button>

      <button class="btn-symbol" (click)="onMainNavigationPanelToggle()" >
        <span class="symbol rounded">{{ mainNavigationPanelActive ? "close" : "menu" }}</span>
      </button>

    </nav>
  </div>
</div>

<aside class="main-navigation-panel" [class.active]="mainNavigationPanelActive">
  <div class="wrapper">

    <app-logo [logoMode]="mode.light"></app-logo>

    <div class="nav">

    <div class="col">
      <div class="title">Products</div>
      <ul>
        <li>Natural Toothbrush</li>
        <li>Tooth Paste</li>
        <li>Mouthwash</li>
      </ul>
    </div>

    <div class="col">
      <div class="title">About</div>
      <ul>
        <li>Our story</li>
        <li>Foundation</li>
        <li>Privacy policy</li>
      </ul>
    </div>

    <div class="col">
      <div class="title">Order and support</div>
      <ul>
        <li>FAQs</li>
        <li>Contact us</li>
        <li>Delivery and returns</li>
        <li>Terms and conditions</li>
      </ul>
    </div>

  </div>

<!-- <ul>
  <li><a routerLink="products" routerLinkActive="active" ariaCurrentWhenActive="page">Products</a></li>
  <li><a routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">Our story</a></li>
</ul> -->

    

  </div>
</aside>