<footer class="app-footer">

  <app-logo [logoMode]="0"></app-logo>

  <div class="wrapper">

    <div class="col">
      <div class="title">Newsletter</div>
    </div>

    <div class="col">
      <div class="title">Products</div>
      <ul>
        <li>Natural Toothbrush</li>
        <li>Tooth Paste</li>
        <li>Mouthwash</li>
      </ul>
    </div>

    <div class="col">
      <div class="title">About</div>
      <ul>
        <li>Our story</li>
        <li>Foundation</li>
        <li>Privacy policy</li>
      </ul>
    </div>

    <div class="col">
      <div class="title">Order and support</div>
      <ul>
        <li>FAQs</li>
        <li>Contact us</li>
        <li>Delivery and returns</li>
        <li>Terms and conditions</li>
      </ul>
    </div>

    <div class="col">
      <div class="title">Sustainability</div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s.</p>
    </div>

    <div class="col">
      <div class="title">Social media</div>
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
      </ul>
    </div>

    <div class="col">
      <div class="title">Language</div>
      <ul>
        <li>English</li>
        <li>Greek</li>
      </ul>
    </div>

  </div>
</footer>