<div class="overlay" [class.visible]="cartVisible" (click)="onOverlayClick()"></div>

<div class="cart" [class.visible]="cartVisible">
  <div class="wrapper">

    <div *ngIf="cartContent$ | async as cart">

      <div class="cart-container">

        <ng-container *ngIf="cart.lines && cart.lines.length > 0; else emptyCart">

          <ul class="cart-lines">
            <li *ngFor="let cartLine of cart.lines" class="cart-line">

              <div class="wrapper">
                <div class="col">
                  <img [src]="cartLine.featuredImage?.src" [alt]="cartLine.featuredImage?.altText">
                </div>

                <div class="col">
                  <a class="title" [routerLink]="[currentLang, 'product', cartLine.handle]" routerLinkActive="active">{{ cartLine.title }}</a>
                  <div class="price">{{ cartLine.price }}</div>
                  <div class="quantity"><input type="number" [(ngModel)]="cartLine.quantity" min="1" (change)="updateQuantity(cartLine.id, cartLine.quantity)"></div>
                  
                  <div class="action">
                    <button class="btn remove" (click)="removeItem(cartLine.id)">Remove</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <div class="cart-summary">
            <div class="total-items">Total items: {{ cart.totalItems }}</div>
            <div class="total-price">Total price: {{ cart.totalPrice }}</div>
          </div>

          <div class="action-checkout">
            <button (click)="checkout(cart)" class="btn">Checkout</button>
          </div>

        </ng-container>

        <ng-template #emptyCart>
          Your cart is empty
        </ng-template>

      </div>
    </div>

  </div>
</div>