<div class="cart" [class.active]="cartActive" #cartRef>
  <div class="wrapper">

    <div *ngIf="cartContent$ | async as cart">

      <div class="cart-container">

        <ng-container *ngIf="cart.lines && cart.lines.length > 0; else emptyCart">

          <ul class="cart-lines-titles">
            <li>Cart</li>
            <li>Quantity</li>
            <li>Price</li>
            <li>Action</li>
          </ul>

          <ul class="cart-lines">
            <li *ngFor="let line of cart.lines" class="cart-line">
              <div class="title">{{ line.title }}</div>
              <div class="quantity"><input type="number" [(ngModel)]="line.quantity" min="1"
                (change)="updateQuantity(line.id, line.quantity)"></div>
              
              
                <div class="price">{{ line.price }}</div>
                <div class="action">
                  <button class="btn remove" (click)="removeItem(line.id)">Remove</button>
                </div>
              
            </li>
          </ul>

          <div class="cart-summary">
            <div class="total-items">Total items: {{ cart.totalItems }}</div>
            <div class="total-price">Total price: {{ cart.totalPrice }}</div>
          </div>

          <div class="action-checkout">
            <button (click)="checkout(cart)" class="btn">Checkout</button>
          </div>

        </ng-container>

        <ng-template #emptyCart>
          Your cart is empty
        </ng-template>

      </div>
    </div>

  </div>
</div>