.overlay {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
  background-color: rgba(var(--base-1000), 0.5);
}

.overlay.visible {
  visibility: visible;
  opacity: 1;
}

.cart {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: var(--max-w-sm);
  visibility: hidden;
  transform: translateX(100%);
  transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
  background-color: rgb(var(--base-0));
  /* color: rgb(var(--base-50)); */
}

.cart.visible {
  visibility: visible;
  transform: translateX(0);
}

.cart > .wrapper {
  padding: 1.5rem 24px 3rem;
}

.cart-lines-titles {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 200px) minmax(
      0,
      200px
    );
  gap: 1.5rem;
  font-weight: var(--font-medium);
  border-bottom: 3px solid rgb(var(--base-500));
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
}

.cart-lines {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-line {
  border-bottom: 1px solid rgb(var(--base-500));
  padding-bottom: 1rem;
}

.cart-line > .wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  gap: 1.5rem;
}

.cart-summary {
  margin: 3rem 0 3rem auto;
  max-width: calc(400px + 1rem);
  font-size: var(--font-lg);
  font-weight: var(--font-regular);
}

.action-checkout {
  margin-left: auto;
  max-width: calc(400px + 1rem);
}

.action-checkout .btn {
  width: 100%;
}
