/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

/* Material Symbols
--------------------------------------------- */

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url("../../assets/fonts/material-symbols/material-symbols-outlined.woff2") format("woff2");
}

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url("../../assets/fonts/material-symbols/material-symbols-rounded.woff2") format("woff2");
}

/* Proxima Nova
--------------------------------------------- */

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  src: url("../../assets/fonts/proxima-nova/ProximaNova-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/proxima-nova/ProximaNova-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/proxima-nova/ProximaNova-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/proxima-nova/ProximaNova-SemiBold.woff2") format("woff2");
}