/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

body {
  margin: 0;
}

app-root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(0,1fr);
  grid-template-rows: auto minmax(0,1fr) auto
}

.app-main {
  position: relative;
}

/* Box sizing
--------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Typography
--------------------------------------------- */

html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.025em;
}

body,
button,
input,
select,
optgroup,
textarea {
  font-family: var(--font-sans);
  /* font-feature-settings: "pnum" 1, "kern" 1, "ss01" 1, "ss03" 1; */
  font-feature-settings: "ss02" 1;
  font-size: var(--font-base);
  font-weight: var(--font-light);
  line-height: var(--leading-base);
  color: rgb(var(--base-900));
}

body {
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-base);
  font-weight: var(--font-light);
  line-height: var(--leading-base);
  margin: 0;
}

p {
  margin: 0 0 1.5rem;
}

strong {
  font-weight: var(--font-black);
}

/* Elements
--------------------------------------------- */

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

picture {
  display: block;
}

/* Links
--------------------------------------------- */
a {
  cursor: pointer;
  color: rgb(var(--primary-950));
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  outline: 0;
}

/* Buttons
--------------------------------------------- */

button {
  cursor: pointer;
}

.btn {
  background-color: #252525;
  color: #fffef2;
  padding: 0.75rem 1.5rem;
  border: 1px solid #252525;
  border-radius: none;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Symbols
--------------------------------------------------------------*/

.symbol {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}

.symbol.outlined {
  font-family: var(--font-symbol-outlined);
}

.symbol.rounded {
  font-family: var(--font-symbol-rounded);
}

.symbol::after {
  display: inline-block;
}

.btn-symbol {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: unset;
  padding: unset;
  margin: unset;
  border: unset;

 & .symbol {
    font-size: var(--font-3xl);
  }
}

